# Local logs
*.log
*.txt
!requirements.txt
!README.md
!SSH_Success_Workflow.md
!Colab_VSCode_Guide.md

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Data and Models (Too large for Git)
rtde_data.csv
robot_data.xlsx
data/processed/
results/
model_coreX_v*/
dummy/

# IDEs
.vscode/
.idea/
.ipynb_checkpoints/
